#joy{
  font-size: larger;
  color: darkolivegreen;
  text-align: center;
}
#p{
  font-size: x-large;
  color: black;
  text-align: end;
}
#mark{
  font-size: larger;
  color: crimson;
  text-align: center;
}
.p1{
  font-size: xx-large;
  color: black;
  text-align: end;
  
}
#susan{
  font-size: larger;
  color: darkslategray;
  text-align: center;
}